/* style.css  (тот же, что и во второй лабораторной) */
body {
    background: linear-gradient(to bottom, #ffffff, #0843b997, #eb3c2f98);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
    padding: 2%;
}

.main_head{
    font-size: 40px;
}

.content {
    display: flex;
    margin: 1cap;   
}

.content-left {
    background: #ffffff32; /* Цвет фона для левой части */
    margin-right: 20px; /* Отступ между карточками */
    padding: 20px; /* Внутренний отступ */
    border-radius: 10px; /* Закругленные углы */
    width: 60%; /* Ширина левой части */
}

.content-right {
    background: #ffffff32; /* Цвет фона для правой части */
    padding: 0; /* Внутренний отступ */
    border-radius: 5%; /* Закругленные углы */
    width: 38%; /* Ширина правой части */
}

h1 {
    color: #233546;
}

h2 {
    color: #233546db;
}

p {
    font-size: 18px;
}

a {
    color: inherit; /* Ссылка не выделяется */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s, transform 0.3s; /* Анимация при наведении */
}

li {
    font-size: 18px;
}

ol > li::marker {
    font-weight: bold;
}

a:hover {
    color: #000099; /* Цвет ссылки при наведении */
}

.header-link{
    color: #ffffff;
    font-weight: normal;
    transition: color 0.3s, text-shadow 0.3s ease;    
}

.header-link:hover{
    color: #7f7d7d; /* Цвет ссылки при наведении (ярче) */
    text-shadow: 0 0 1px #f14747, 0 0 2px #ff3838;
}

img {   
    border-radius: 5%; /* Закругление углов изображения */
    width: 100%; /* Задаем ширину изображения */
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container {    
    background-color: rgb(72, 57, 244);    
    height: 500px;
}

.block {
    width: 200px; 
    height: 200px; 
    background-color: coral; 
    margin: 0 auto;
}

.waterfall{
    width: 20%; 
    height: 60%;
    display: block; 
    margin: 0 auto;
}

.container-2 {    
    display: flex;
    height: 500px;    
    background-color: #4b87be;    
    align-items: center;    
}

.block-2{   
    width: 200px;
    height: 200px;
    background-color: orange;    
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(236, 44, 57);
    border: 1px solid black;
    padding: 20px;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: #000099;
    margin-bottom: 20px;
}

.container-4 {
    position: relative;
    width: 650px;
    height: 650px;
    left: 30%;
    background-color: #f1f1f1;
    overflow: hidden; /* Добавлено, чтобы квадраты частично заходили за границы контейнера */
    border: 4px solid;
}

.red-box,
.blue-box,
.green-box {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent; /* Фон сделан прозрачным */
    border: 5px solid; /* Только контур */
    z-index: 1; /* Добавлено, чтобы квадраты частично заходили друг на друга */
}

.red-box {
    top: 50px;
    left: 50px;
    border-color: rgb(248, 0, 0);
}

.green-box {
    bottom: 100px;
    right: 100px;
    border-color: rgb(0, 248, 0);
}

.blue-box {
    top: 200px;
    left: 200px;
    border-color: rgb(0, 0, 248);
}

.cat-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-image: url('https://i.pinimg.com/originals/24/ac/ef/24acef8b3a6a45d7239480bcc4ff0193.jpg');
    background-size: cover;
}